@font-face {
    font-family: 'Axiforma';
    font-weight: 800;
    src: url('../Fonts/axiforma/FontsFree-Net-Axiforma3woff2.ttf');
}

@font-face {
    font-family: 'Axiforma';
    font-weight: 400;
    src: url('../Fonts/axiforma/Axiforma-Regular.ttf');
}

@font-face {
    font-family: 'Axiforma';
    font-weight: 300;
    src: url('../Fonts/axiforma/Axiforma-Light.ttf');
}

@font-face {
    font-family: 'Creato Display';
    font-weight: 400;
    src: url('../Fonts/CreatoDisplay/CreatoDisplay-Regular.eot');
    src: url('../Fonts/CreatoDisplay/CreatoDisplay-Regular.ttf');
    src: url('../Fonts/CreatoDisplay/CreatoDisplay-Regular.woff');
    src: url('../Fonts/CreatoDisplay/CreatoDisplay-Regular.woff2');
}

@font-face {
    font-family: 'Creato Display';
    src: url('../Fonts/CreatoDisplay/CreatoDisplay-Light.eot');
    src: url('../Fonts/CreatoDisplay/CreatoDisplay-Light.eot?#iefix') format('embedded-opentype'), url('../Fonts/CreatoDisplay/CreatoDisplay-Light.woff2') format('woff2'), url('../Fonts/CreatoDisplay/CreatoDisplay-Light.woff') format('woff'), url('../Fonts/CreatoDisplay/CreatoDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Creato Display';
    src: url('../Fonts/CreatoDisplay/CreatoDisplay-Regular.eot');
    src: url('../Fonts/CreatoDisplay/CreatoDisplay-Regular.eot?#iefix') format('embedded-opentype'), url('../Fonts/CreatoDisplay/CreatoDisplay-Regular.woff2') format('woff2'), url('../Fonts/CreatoDisplay/CreatoDisplay-Regular.woff') format('woff'), url('../Fonts/CreatoDisplay/CreatoDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Creato Display';
    src: url('../Fonts/CreatoDisplay/CreatoDisplay-Bold.eot');
    src: url('../Fonts/CreatoDisplay/CreatoDisplay-Bold.eot?#iefix') format('embedded-opentype'), url('../Fonts/CreatoDisplay/CreatoDisplay-Bold.woff2') format('woff2'), url('../Fonts/CreatoDisplay/CreatoDisplay-Bold.woff') format('woff'), url('../Fonts/CreatoDisplay/CreatoDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


body {
    font-family: 'Axiforma';
    display: flex;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Axiforma';
    margin: 0;
    line-height: normal;
    font-weight: 800 !important;
    color: #000000;
}

body {
    display: grid;
    grid-template-rows: 1px 1px;
    row-gap: 90px;
}

#header {
    margin-top: 0px;
    position: fixed;
    width: 100%;
    background-color: white;
    padding-bottom: 15px;
    opacity: 0.9;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 999;
    background: #ffffff;
}

.logo {
    margin-left: 40px;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
    padding-right: 20px;
    padding-top: 10px;
}

.navbar li {
    position: relative;
    margin-right: 35px;
}

.navbar a {
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    transition: 0.3s;
    text-decoration: none;
    font-family: 'Creato Display';
}

.navbar>ul>li>a {
    color: #000000;
}

.navbar a i {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Font Awesome 5 Pro';
    margin-left: 6px;
}

.navbar ul a:hover{
    color: #769593
}

.navbar ul a[href="about-us.html"] {
    font-weight: bold;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    padding: 10px 0;
    visibility: hidden;
    background: #ffffff;
    border-radius: 9px;
    min-width: 160px;
}

.navbar .dropdown:hover>ul {
    visibility: visible;
}

.navbar li.dropdown ul li {
    margin-right: 0;
    padding: 8px 20px;
    border-left: 3px solid white;
}

.navbar li.dropdown ul li:hover {
    background: #cfff8d;
    border-left: 3px solid #4b425f;
}

.navbar .wc-btn .btn {
    padding: 10px 30px 6px;
    font-family: 'Axiforma';
    font-weight: 400 !important;
    margin-right: 60px;
}

.navbar .wc-btn .btn-primary {
    color: #000 !important;
    background: #CFFF8D;
    border-radius: 20px;
}

.transperent .navbar .wc-btn .btn-primary:hover {
    color: #fff !important;
    border: 2px solid #CFFF8D;
}

.navbar .wc-btn .btn-primary:hover {
    color: #000 !important;
    border: 2px solid #000000;
    background-color: transparent !important;
}

.navbar .wc-btn .btn-primary:active,
.navbar .wc-btn .btn-primary:focus {
    background-color: transparent;
    border-color: #000000;
}

.page{
    padding: 200px 0 0 0;
    max-width: 80%;
    position: relative;
    background-color: white;
    margin: auto;
}

.wc-contact-us{
    background-color: #fdf8f8;
}

.wc-contact-us .wc-contact-wrapper {
    display: flex;
    justify-content: space-between;
}

.wc-contact-us .wc-contact-form,
.wc-contact-us .wc-address-form {
    flex: 1;  
    box-sizing: border-box;
}

.wc-contact-us .wc-contact-form {
    background-color: #FFF8F8;
    padding: 104px 138px;
    box-sizing: border-box;
}

.wc-contact-us .wc-contact-form h2 {
    font-size: 40px;
    padding-bottom: 32px;
}

.wc-contact-us .wc-contact-form .form-control {
    min-height: 45px;
    border-radius: 50px;
    background-image: none;
    font-size: 16px;
    color: #7F7F7F;
    font-family: 'Creato Display';
    background-color: transparent;
    width: 100%;
    border: 1px solid #0000004D;
    padding: 10px 31px;
    margin-bottom: 15px;
}

.wc-contact-us .button .btn{
    padding: 9px 42px 7px;
}

.btn-primary {
    background-color: #CFFF8D;
    color: #000;
    border: 1px solid #CFFF8D;
}

.btn {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Axiforma';
    font-weight: 400;
    border-radius: 30px;
    line-height: normal;
    display: flex;
    width: fit-content;
}

.wc-contact-form .btn-primary:hover {
    color: white;
    background-color: #4c5e57;
}

.wc-contact-us .wc-address-form {
    background-color: #425F57;
    padding: 158px 102px;
    box-sizing: border-box;
}

.wc-contact-us .wc-address-form .address {
    background: #FFF8F8;
    border-radius: 43.5px;
    padding: 19px 30px;
    margin-bottom: 20px;
    display: inline-block;
}

.wc-contact-us .wc-address-form .address p {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: #425F57;
}



footer {
    background-color: #425F57;
    padding: 75px 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    margin-top: 300px;
}

.footer a.logo {
    max-width: 280px;
    width: 100%;
    display: block;
    margin: auto;
}

.footer-content {
    text-align: center;
}

.footer-content img {
    padding-bottom: 40px;
    max-width: 280px;
    margin: 0 auto;
}

.footer-content p {
    color: #DFFFFFCC;
    max-width: 26%;
    margin: auto;
    padding-bottom: 30px;
}

.footer-copyright {
    color: #fff;
    padding-bottom: 30px;
}

.social-icon a {
    background: rgba(207, 255, 141, 0.2);
    border-radius: 6px;
    width: 34px;
    height: 34px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #CFFF8D;
    font-size: 18px;
    margin-right: 18px;
    text-decoration: none;
}

.footer .social-icon a:hover {
    background-color: #CFFF8D;
    color: #000;
}

.footer-copyright a {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    font-family: 'Creato Display';
    text-decoration: none;
}

.footer .footer-copyright a:hover {
    color: #CFFF8D;
}

/* Responsive */
@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        align-items: center;
        display: none;
    }
    
    .wc-contact-wrapper {
        flex-direction: column;
    }

    .wc-contact-form, .wc-address-form {
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .navbar ul {
        justify-content: space-around;
        display: none;
    }
    
    .wc-contact-form, .wc-address-form {
        width: 48%;
    }
}

@media (min-width: 1025px) {
    .wc-contact-wrapper {
        display: flex;
        gap: 20px;
    }
    
    .wc-contact-form, .wc-address-form {
        width: 50%;
    }
}
