@font-face {
    font-family: 'Axiforma';
    font-weight: 800;
    src: url('../Fonts/axiforma/FontsFree-Net-Axiforma3woff2.ttf');
}

@font-face {
    font-family: 'Axiforma';
    font-weight: 400;
    src: url('../Fonts/axiforma/Axiforma-Regular.ttf');
}

@font-face {
    font-family: 'Axiforma';
    font-weight: 300;
    src: url('../Fonts/axiforma/Axiforma-Light.ttf');
}

@font-face {
    font-family: 'Creato Display';
    font-weight: 400;
    src: url('../Fonts/CreatoDisplay/CreatoDisplay-Regular.eot');
    src: url('../Fonts/CreatoDisplay/CreatoDisplay-Regular.ttf');
    src: url('../Fonts/CreatoDisplay/CreatoDisplay-Regular.woff');
    src: url('../Fonts/CreatoDisplay/CreatoDisplay-Regular.woff2');
}

@font-face {
    font-family: 'Creato Display';
    src: url('../Fonts/CreatoDisplay/CreatoDisplay-Light.eot');
    src: url('../Fonts/CreatoDisplay/CreatoDisplay-Light.eot?#iefix') format('embedded-opentype'), url('../Fonts/CreatoDisplay/CreatoDisplay-Light.woff2') format('woff2'), url('../Fonts/CreatoDisplay/CreatoDisplay-Light.woff') format('woff'), url('../Fonts/CreatoDisplay/CreatoDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Creato Display';
    src: url('../Fonts/CreatoDisplay/CreatoDisplay-Regular.eot');
    src: url('../Fonts/CreatoDisplay/CreatoDisplay-Regular.eot?#iefix') format('embedded-opentype'), url('../Fonts/CreatoDisplay/CreatoDisplay-Regular.woff2') format('woff2'), url('../Fonts/CreatoDisplay/CreatoDisplay-Regular.woff') format('woff'), url('../Fonts/CreatoDisplay/CreatoDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Creato Display';
    src: url('../Fonts/CreatoDisplay/CreatoDisplay-Bold.eot');
    src: url('../Fonts/CreatoDisplay/CreatoDisplay-Bold.eot?#iefix') format('embedded-opentype'), url('../Fonts/CreatoDisplay/CreatoDisplay-Bold.woff2') format('woff2'), url('../Fonts/CreatoDisplay/CreatoDisplay-Bold.woff') format('woff'), url('../Fonts/CreatoDisplay/CreatoDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


h1,
h2,
h3,
h5,
h6 {
    font-family: 'Axiforma';
    margin: 0;
    line-height: normal;
    font-weight: 800 !important;
    color: #000000;
}


#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 999;
    background: #ffffff;
}



.logo {
    margin-left: 40px;
}

.navbar {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
    padding-right: 20px;
}

.navbar li {
    position: relative;
    margin-right: 35px;
}

.navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    white-space: nowrap;
    transition: 0.3s;
    text-decoration: none;
    font-family: 'Creato Display';
}

.one {

    color: white;
}

.navbar a i {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Font Awesome 5 Pro';
    margin-left: 6px;
}

.navbar .donation:hover {
    background-color: white;
    border: 2px solid black;
}

.transperent header#header .navbar a:hover {
    color: #CFFF8D;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: black;
    background: ư;

}

.navbar .wc-btn .btn {
    padding: 10px 30px 6px;
    font-family: 'Axiforma';
    font-weight: 400 !important;
    margin-right: 60px;
}

.navbar .wc-btn .btn-primary {
    color: #000 !important;
    background: #CFFF8D;
    border-radius: 20px;
}

.transperent .navbar .wc-btn .btn-primary:hover {
    color: #fff !important;
    border: 2px solid #CFFF8D;
}

.navbar .wc-btn .btn-primary:hover {
    color: #000 !important;
    border: 2px solid #000000;
    background-color: transparent !important;
}

.navbar .wc-btn .btn-primary:active,
.navbar .wc-btn .btn-primary:focus {
    background-color: transparent;
    border-color: #000000;
}

.navbar ul li a:hover {
    color: #006662;
    transition: all .4s;
}

/* dropdown */
.navbar .dropdown ul {
    display: block;
    position: absolute;
    padding: 10px 0;
    visibility: hidden;
    background: #ffffff;
    border-radius: 9px;
    min-width: 160px;
}

.navbar .dropdown:hover>ul {
    visibility: visible;
}

.navbar li.dropdown ul li {
    margin-right: 0;
    padding: 8px 20px;
    border-left: 3px solid white;
}

.navbar li.dropdown ul li:hover {
    background: #cfff8d;
    border-left: 3px solid #425F57;
}

.main {
    padding-top: 80px;
    max-width: 90%;
    margin: auto;
}

.donation-box {
    background-color: #526F67;
    padding: 80px;
    margin-bottom: 40px;
}

.donation-box h2 {
    font-size: 24px;
    color: #DFFFFF;
    padding-bottom: 30px;
    font-family: 'Creato Display';
}

.donation {
    display: flex;
    justify-content: space-between;
    padding-bottom: 26px;
}

.donation1 {
    padding-left: 45px;
    padding-top: 33px;
}

.donation1 p {
    font-size: 16px;
    color: #fff;
    line-height: 26px;
    margin: 0;
    font-weight: 400;
    font-family: 'Creato Display';
    width: 70%;
    padding-bottom: 36px;
}

.donation1 h3 {
    font-size: 16px;
    color: #fff;
    padding-bottom: 10px;
}

.donation1 .button {
    display: inline-flex;
    align-items: center;
    padding: 5px;
    background: #fff;
    border-radius: 50px;
    width: 124px;
    margin-bottom: 36px;
}

.donation1 .button input {
    padding: 0;
    font-size: 18px;
    color: #000;
    width: 100%;
    font-family: 'Creato Display';
    border: 1px solid #ffffff;
}

.donation1 .button input::placeholder {
    color: #837d7d;
}

.donation1 .button span {
    background-color: #CFFF8D;
    width: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-weight: 600;
    font-size: 17px;
    margin-right: 12px;
}

.donation1 h4 {
    font-size: 16px;
    color: #fff;
    padding-bottom: 20px;
}

.donation1 label {
    position: relative;
    cursor: pointer;
    padding-bottom: 15px;
    display: block;
}

.donation1 .Radio input[type=radio] {
    position: relative;
    visibility: visible;
}

.donation1 .Radio span.list-item-label {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    font-family: 'Creato Display';
}

.personal-info h4 {
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Axiforma';
}

.personal-info .info {
    display: flex;
    grid-gap: 32px;
}

.personal-info .form-control {
    min-height: 45px;
    border-radius: 50px;
    background-image: none;
    font-size: 16px;
    color: #fff;
    font-family: 'Creato Display';
    background-color: transparent;
    width: 100%;
    border: 1px solid #CFFF8D;
    padding: 10px 24px;
    max-width: 365px;
    margin-bottom: 15px;
}

.personal-info .form-control::placeholder {
    color: #fff;
}

.personal-info .form-control:focus {
    border: 1px #000;
}

.personal-info .btn-text {
    background: #fff;
    padding: 11px 23px;
    font-size: 16px;
    font-family: 'Creato Display';
    font-weight: 400;
    border-radius: 50px;
    width: 200px;
    margin-bottom: 15px;
}

 .donate_button {
    background: #CFFF8D;
    color: #000 ;
    background: #CFFF8D;
    border-radius: 20px;
    padding: 8px 30px 8px;
    font-family: 'Axiforma';
    text-decoration: none;
}

.donation-child-img {
    text-align: right;
    padding-bottom: 10px
}

.wc-donation .main-donation-wrapper h2 {
    font-size: 18px;
    max-width: 100%;
    padding-bottom: 10px;
}

.donation-wrapper p,
.donation-content-p p {
    max-width: 90%;
    color: #7f7f7f;
    text-align: left;
    font-size: 16px;
    font-family: 'Creato Display';
    padding-bottom: 15px;
}

.donation-content {
    display: flex;
    justify-content: space-between;
}

.contactus {
    background-color: #fff8f8;
    border-radius: 20px;
}

.contact-title h2 {
    font-size: 50px;
    font-family: 'Axiforma';
    text-align: center;
    padding: 35px;
}

.contact-title p {
    font-size: 16px;
    font-family: 'Creato Display';
    text-align: center;
    color: #7f7f7f;
    justify-content: center;
    max-width: 33%;
    margin: auto;
    padding-bottom: 20px;
}

.contact-form {
    max-width: 836px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.contact-form .nema-and-number,
.contact-form .email-and-submit {
    display: flex;
    grid-gap: 22px;
    margin-bottom: 24px;
}

.contact-form .form-control {
    min-height: 50px;
    border-radius: 50px;
    background-image: none;
    font-size: 16px;
    color: #7F7F7F;
    font-family: 'Creato Display';
    background-color: transparent;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding-left: 20px;
}

.form-control:focus {
    background-color: transparent;
    box-shadow: none;
    border: 1px solid #000;
}

.contact-form textarea.form-control {
    min-height: 120px;
    border-radius: 39px;
    margin-bottom: 25px;
}

.contact-form .contact-form-button {
    text-align: center;
}

.contact-form .contact-form-button .btn {
    font-size: 22px;
    padding: 13px 77px 10px;
    font-family: 'Axiforma';
    background: #cfff8d;
    border-radius: 30px;
    color: black;
    text-decoration: none;
}

footer {
    background-color: #425F57;
    padding: 75px 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    margin-top: 300px;
}

.footer a.logo {
    max-width: 280px;
    width: 100%;
    display: block;
    margin: auto;
}

.footer-content {
    text-align: center;
}

.footer-content img {
    padding-bottom: 40px;
    max-width: 280px;
    margin: 0 auto;
}

.footer-content p {
    color: #DFFFFFCC;
    max-width: 26%;
    margin: auto;
    padding-bottom: 30px;
}

.footer-copyright {
    color: #fff;
    padding-bottom: 30px;
}

.social-icon a {
    background: rgba(207, 255, 141, 0.2);
    border-radius: 6px;
    width: 34px;
    height: 34px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #CFFF8D;
    font-size: 18px;
    margin-right: 18px;
    text-decoration: none;
}

.footer .social-icon a:hover {
    background-color: #CFFF8D;
    color: #000;
}

.footer-copyright a {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    font-family: 'Creato Display';
    text-decoration: none;
}

.footer .footer-copyright a:hover {
    color: #CFFF8D;
}