@font-face {
    font-family: 'Axiforma';
    font-weight: 800;
    src: url('../Fonts/axiforma/FontsFree-Net-Axiforma3woff2.ttf');
}

@font-face {
    font-family: 'Axiforma';
    font-weight: 400;
    src: url('../Fonts/axiforma/Axiforma-Regular.ttf');
}

@font-face {
    font-family: 'Axiforma';
    font-weight: 300;
    src: url('../Fonts/axiforma/Axiforma-Light.ttf');
}

@font-face {
    font-family: 'Creato Display';
    font-weight: 400;
    src: url('../Fonts/CreatoDisplay/CreatoDisplay-Regular.eot');
    src: url('../Fonts/CreatoDisplay/CreatoDisplay-Regular.ttf');
    src: url('../Fonts/CreatoDisplay/CreatoDisplay-Regular.woff');
    src: url('../Fonts/CreatoDisplay/CreatoDisplay-Regular.woff2');
}

@font-face {
    font-family: 'Creato Display';
    src: url('../Fonts/CreatoDisplay/CreatoDisplay-Light.eot');
    src: url('../Fonts/CreatoDisplay/CreatoDisplay-Light.eot?#iefix') format('embedded-opentype'), url('../Fonts/CreatoDisplay/CreatoDisplay-Light.woff2') format('woff2'), url('../Fonts/CreatoDisplay/CreatoDisplay-Light.woff') format('woff'), url('../Fonts/CreatoDisplay/CreatoDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Creato Display';
    src: url('../Fonts/CreatoDisplay/CreatoDisplay-Regular.eot');
    src: url('../Fonts/CreatoDisplay/CreatoDisplay-Regular.eot?#iefix') format('embedded-opentype'), url('../Fonts/CreatoDisplay/CreatoDisplay-Regular.woff2') format('woff2'), url('../Fonts/CreatoDisplay/CreatoDisplay-Regular.woff') format('woff'), url('../Fonts/CreatoDisplay/CreatoDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Creato Display';
    src: url('../Fonts/CreatoDisplay/CreatoDisplay-Bold.eot');
    src: url('../Fonts/CreatoDisplay/CreatoDisplay-Bold.eot?#iefix') format('embedded-opentype'), url('../Fonts/CreatoDisplay/CreatoDisplay-Bold.woff2') format('woff2'), url('../Fonts/CreatoDisplay/CreatoDisplay-Bold.woff') format('woff'), url('../Fonts/CreatoDisplay/CreatoDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Axiforma';
    margin: 0;
    line-height: normal;
    font-weight: 800 !important;
    color: #000000;
}


#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 999;
    background: #ffffff;
}



.logo {
    margin-left: 40px;
}

.navbar {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
    padding-right: 20px;
}

.navbar li {
    position: relative;
    margin-right: 35px;
}

.navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    white-space: nowrap;
    transition: 0.3s;
    text-decoration: none;
    font-family: 'Creato Display';
}

.one {

    color: white;
}

.navbar a i {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Font Awesome 5 Pro';
    margin-left: 6px;
}

.navbar .donation {
    margin-right: 60px;
    padding: 10px 30px 10px;
    background-color: #cfff8d;
    border-radius: 20px;
}
.navbar .donation:hover {
    background-color: white;
    border: 2px solid black;
}
.transperent header#header .navbar a:hover {
    color: #CFFF8D;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: black;
    background: ư;
    
}

.navbar .wc-btn .btn {
    padding: 10px 30px 6px;
    font-family: 'Axiforma';
    font-weight: 400 !important;
}

.navbar .wc-btn .btn-primary {
    color: #000 !important;
}

.transperent .navbar .wc-btn .btn-primary:hover {
    color: #fff !important;
    border: 2px solid #CFFF8D;
}

.navbar .wc-btn .btn-primary:hover {
    color: #000 !important;
    border: 2px solid #000000;
    background-color: transparent !important;
}

.navbar .wc-btn .btn-primary:active,
.navbar .wc-btn .btn-primary:focus {
    background-color: transparent;
    border-color: #000000;
}

.navbar ul li a:hover {
    color: #006662;
    transition: all .4s;
}
/* dropdown */
.navbar .dropdown ul {
    display: block;
    position: absolute;
    padding: 10px 0;
    visibility: hidden;
    background: #ffffff;
    border-radius: 9px;
    min-width: 160px;
}

.navbar .dropdown:hover>ul {
    visibility: visible;
}

.navbar li.dropdown ul li {
    margin-right: 0;
    padding: 8px 20px;
    border-left: 3px solid white;
}

.navbar li.dropdown ul li:hover {
    background: #cfff8d;
    border-left: 3px solid #425F57;
}

.main-wrapper {
    padding-top: 80px;
}

.donation-success {
    padding-top: 100px;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 0 220px;
}

.donation-success .inner-success {
    background: #f6f3f3;
    border-radius: 66px;
    max-width: 776px;
    margin: auto;
    padding: 80px 150px;
}

.donation-success .inner-success h2 {
    font-size: 34px;
    font-family: 'Axiforma-B';
    padding: 0px 0px 58px;
    text-align: center;
}

.donation-success .inner-success h3.title {
    font-size: 18px;
    font-family: 'Creato Display';
    padding-bottom:15px;
    padding-top: 15px;
}

.donation-success .inner-success p {
    color: #7f7f7f;
    font-size: 14px;
    font-family: 'Creato Display';
    padding: 0 0 30 10;
}
.donation-success .inner-success table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.donation-success .inner-success .details-table td,
.donation-success .inner-success .details-table th {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 16px 0 10px;
    font-weight: 500;
}

.donation-success .inner-success .details-table td:nth-child(even) {
    width: 32%;
    color: #7F7F7F;
}

.donation-success .inner-success .details-table {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 22.5px;
    padding: 30px 43px 30px 35px;
}

.donation-success .inner-success h2 {
    font-family: 'Axiforma';
    font-size: 34px;
    padding-bottom: 58px;
    text-align: center;
}

.donation-success .inner-success .payment-tabel h3 {
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    font-weight: 600 !important;
    font-family: 'Creato Display';
}

.donation-success .inner-success .payment-tabel .payment-tabel-success {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 22.5px;
    padding: 19px 28px 22px;
}

.donation-success .payment-tabel .payment-tabel-success table th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 12px;
    font-family: 'Creato Display';
    font-weight: 600;
}

.donation-success .payment-tabel .payment-tabel-success table td {
    padding-top: 16px;
    color: #7F7F7F;
    font-family: 'Creato Display';
    font-size: 100px;
    padding-right: 30px;
}
